<div class="wrapper workout">
  <header>
    <h1>Fitness Tracker</h1>
  </header>
  {{#if logged_in}}
  <div class="ui container workout">
    <div class="ui raised card m-auto">
      <div class="prev-workout">
        <h3>Last Workout for {{data.userName}}</h3>
        <div>
          {{#if data.hasWorkOuts}}
          <div class="workout-stats">
            <p><strong>Date: {{data.workoutDate}}</strong></p>
            <h5>Resistance Totals:</h5>
            <p><strong>Duration: {{data.resistDuration}}</strong></p>
            <p><strong>Exercises Performed: {{data.resistNumExercises}}</strong></p>
            <p><strong>Total Weight Lifted: {{data.resistWeight}} pounds</strong></p>
            <p><strong>Total Sets Performed: {{data.resistSets}}</strong></p>
            <p><strong>Total Reps Performed: {{data.resistReps}}</strong></p>
            <h5>Cardio Totals</h5>
            <p><strong>Exercises Performed: {{data.cardioNumExercises}}</strong></p>
            <p><strong>Total Distance Covered: {{data.cardioDistance}} miles</strong></p>
            <p><strong>Total Duration: {{data.cardioDuration}} minutes</strong></p>
          </div>
          {{else}}
          <div class="ui container workout">
            <div class="ui raised card m-auto">
              <h3>Hit 'New Workout' to get started!</h3>
            </div>
          </div>
          {{/if}}
          <div class="buttons">
            {{#if data.hasWorkOuts}}
            <a id="continue-btn" href="/exercise?id={{data.workoutId}}" class="huge ui blue button">Continue Workout</a>
            {{/if}}
            <a href="/workout" class="huge positive ui button">New Workout</a>
          </div>
        </div>
      </div>
      <div class="new-workout">
        <h3>Create Your First Workout</h3>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="ui container workout">
  <div class="ui raised card m-auto">
    <h3>Login or sign up to begin tracking your workouts today!</h3>
  </div>
</div>
{{/if}}

<div id="toast">
  Workout Added Successfully!
</div>

{{!--
<script src="/js/api.js"></script>
<script src="/js/homepage.js"></script> --}}